*~
.#*
.DS_Store
tmp/
*.old
Makefile

libfuse-*
*.egg-info
build
dist

# =====================================
# Byte-compiled / optimized / DLL files
# =====================================
__pycache__/
*.py[cod]
*$py.class

# =====================================
# C extensions
# =====================================
*.so
*.so.*
*.o
*.la
